<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ushr App</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app" ng-controller="ushrController as ushr">
    <ion-pane>
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-header-bar class="bar-stable">
                    <a class="button button-outline button-small" on-tap="saveLocal()">Save</a>
                    <a class="button button-outline button-small button-assertive" on-tap="resetSeats()">Reset</a>
                    <h1 class="title">Ushr</h1>
                    <button class="button icon-right ion-edit button-small button-outline button-positive" on-tap="edit()">Edit &#xA0;</button>
                </ion-header-bar>
                <ion-content>
                    <div class="row">
                        <div class="col col-offset-25 col-50" ng-hide="editMode">
                            <div class="row" layout="row" layout-align="space-around center">
                                <div class="card">
                                    <div class="item item-text-wrap">
                                        <h2>{{ushr.layoutTotals.Seats}}</h2>
                                    </div>
                                    <div class="item item-divider">
                                        <h5>Seats</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="item item-text-wrap">
                                        <h2>{{ushr.layoutTotals.Available}}</h2>
                                    </div>
                                    <div class="item item-divider">
                                        <h5>Available</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="item item-text-wrap">
                                        <h2>{{ushr.layoutTotals.Occupied}}</h2>
                                    </div>
                                    <div class="item item-divider">
                                        <h5>Occupied</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="item item-text-wrap">
                                        <h2>{{ushr.layoutTotals.Rows}}</h2>
                                    </div>
                                    <div class="item item-divider">
                                        <h5>Rows</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Mode -->
                    <div class="row padding col-50" layout="row" layout-align="space-between center" ng-show="editMode &amp;&amp; sectionChoice">
                            <h4 flex="">How many Sections?</h4>
                            <div layout="row" layout-align="space-around center" flex="">
                                <button class="button button-positive" layout-margin="" ng-repeat="n in getNumber(5)" on-tap="sectionsChange({{n}}); hideSectionChoice()">
                                    {{n}}
                                </button>
                            </div>
                    </div>
                    <div scroll="false" class="row" ng-show="editMode" layout="row" layout-align="center start" flex="">
                        <md-content class="md-padding" flex="">
                            <md-tabs md-selected="0" md-dynamic-height="" md-border-bottom="" flex="">
                                <md-tab ng-repeat="section in ushr.layoutConfig" label="{{section.name}}" layout="" layout-align="center center">
                                    <div class="row" layout="row" layout-align="space-around center" flex="" layout-padding="" layout-margin="">
                                        <div class="col" on-swipe-right="copyRows(section.rowCount)" flex="45">
                                            <label class="item item-input item-select">
                                                <div class="input-label">Rows</div>
                                                <select ng-model="section.rowCount" ng-change="setRowCount(section)" ng-options="n for n in [] | range:1:15"></select>
                                            </label>
                                        </div>
                                        <div class="col" on-swipe-left="copySeats(seatsPerRow)" flex="45">
                                            <label class="item item-input item-select">
                                                <div class="input-label">Seats</div>
                                                <select ng-model="seatsPerRow" ng-change="setSeatCount(section, seatsPerRow)" ng-options="n for n in [] | range:1:15"></select>
                                            </label>
                                        </div>
                                    </div>
                                    <md-content>
                                        <div ng-if="section.rows.length &gt; 0" ng-repeat="row in section.rows" class="row" layout-padding="" layout-margin="">
                                            <button class="button icon ion-minus-round button-positive button-outline" on-tap="remSeat(row)"></button>
                                            <span flex="">{{row.rowId + 1}}</span>
                                            <div ng-if="row.seats.length &gt; 0" class="chair chair_open" ng-repeat="seat in row.seats track by $index"></div>
                                            <span flex=""></span>
                                            <button class="button icon ion-plus-round button-positive button-outline" on-tap="addSeat(row)"></button>
                                        </div>
                                    </md-content>
                                    <div layout="row" layout-align="center center">
                                        <button class="button icon ion-minus-round button-positive button-outline" on-tap="removeRow(section)"></button>
                                        <button class="button icon ion-plus-round button-positive button-outline" on-tap="addRow(section)"></button>
                                    </div>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                    <!-- Main Screen -->
                    <div class="row" ng-hide="editMode">
                        <md-content class="md-padding" flex="">
                            <md-tabs md-selected="0" md-dynamic-height="" md-border-bottom="" flex="">
                                <md-tab ng-repeat="section in ushr.layoutConfig" label="{{section.name}}" layout="" layout-align="center center">
                                    <md-toolbar class="md-medium-tall" layout="" layout-align="center center" layout-padding="">
                                        <div class="md-toolbar-tools" layout="row" layout-align="center center" layout-padding="" layout-margin="">
                                            <div layout="column" layout-align="center center" layout-padding="" layout-margin="">
                                                <h2>{{section.seatCount}}</h2>
                                                <h5>Seats</h5>
                                            </div>
                                            <div layout="column" layout-align="center center" layout-padding="" layout-margin="">
                                                <h2>{{section.available}}</h2>
                                                <h5>Available</h5>
                                            </div>
                                            <div layout="column" layout-align="center center" layout-padding="" layout-margin="">
                                                <h2>{{section.occupied}}</h2>
                                                <h5>Occupied</h5>
                                            </div>
                                            <div layout="column" layout-align="center center" layout-padding="" layout-margin="">
                                                <h2>{{section.rowCount}}</h2>
                                                <h5>Rows</h5>
                                            </div>
                                        </div>
                                    </md-toolbar>
                                    <md-content>
                                        <div ng-if="section.rows.length &gt; 0" ng-repeat="row in section.rows" class="row" layout-padding="" layout-margin="" on-swipe-right="rowClosed(row)">
                                            <span flex="">{{row.rowId + 1}}</span>
                                            <div ng-if="row.seats.length &gt; 0" class="chair" ng-repeat="seat in row.seats track by $index" on-tap="toggleSeat(seat)" ng-class="{&apos;chair_open&apos;: seat.open, &apos;chair_closed&apos;: !seat.open, &apos;chair_reserved&apos;: seat.reserved, &apos;grouped&apos;: seat.grouped}"></div>
                                            <span flex=""></span>
                                        </div>
                                    </md-content>
                                </md-tab>    
                            </md-tabs>
                        </md-content>
                    </div>
                </ion-content>
            </ion-side-menu-content>
            <ion-side-menu side="right" width="125">
                <!-- Toggle right side menu -->
                <!--<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>-->
                <div layout="column" layout-align="center center" layout-padding="">
                    <button class="button button-block button-positive" layout="column" layout-align="center center" ng-repeat="n in getNumber(ushr.layoutTotals.MaxSeats)" on-tap="findSeats(n)">
                        {{n}}
                    </button>
                    <a class="button button-block button-outline" on-tap="clearGrouped()">Clear</a>
            </div></ion-side-menu>
        </ion-side-menus>
    </ion-pane>
  </body>
</html>
